<h2>投稿一覧</h2>
<% @contents.each do |content| %>
  <li>
    <% @thumbnails.each do |f| %>
    <div style="background-image:url(<%= f.creative %>)"></div>
    <% end %>
    <a href="/contents/<%= content.id %>"><h3 title="<%= content.title %>"><%= content.title %></h3></a>
    <p><%= content.description %></p>
  </li>
<% end %>