<% @contents.each do |content| %>
  <div id="content-box">
    <li>
      <a href="/contents/<%= content.id %>"><%= image_tag content.main_creative %></a>
      <h3 title="<%= content.title %>"><%= content.title %></h3>
      <p>Posted at: <%= content.updated_at.strftime("%Y/%m/%d") %></p>
    </li>
  </div>
<% end %>

<%= paginate(@contents) %>