<div class="header">
  <div id="logo">
    <h1><a href="/"><%= image_tag("logo.jpg", :alt => "UI Gallery") %></a></h1>
  </div>
  <div>
    <div id="sp_menu"></div>
  </div>
</div>

<ul id="menu">
  <% if user_signed_in? %>
    <li>
      <%= link_to "アカウントページへ", user_path(current_user), method: :get   %>
    </li>
    <li>
      <%= link_to "投稿する", new_content_path, method: :get %>
    </li>
    <li>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    </li>
   <% else %>
    <li>
      <%= link_to "会員登録", new_user_registration_path, method: :get %>
    </li>
    <li>
      <%= link_to "ログイン", new_user_session_path, method: :get %>
    </li>
  <% end %>
</ul>

<script>
  $('#menu').slicknav({
    prependTo:'#sp_menu',
    label:""
  });
</script>